body{
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #434455;
}
a{
    text-decoration: none;
    font-style: normal;
    color: currentColor;
}
ul{ 
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.section{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
        padding-bottom: 96px;
}
/*----------header-----------*/
.header{
    border-bottom: 1px solid #E7E9FC;
    background:#FFF;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
}
.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #4d5ae5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        /* margin-right: 76px; */
        padding: 17px 0;
}
span{
    color: #2E2F42;
}
.navigation{
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}
.navigation-list{
}
.navigation-item.current::after{
    content: '';
    border-radius: 2px;
    left: 0;
        bottom: -1px;
        background-color:#404BBF;
        width: 100%;
            height: 4px;
            position: absolute;
}
.navigation-item{
color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item:focus,
.navigation-item:hover,
.navigation-item:active{
    color: #404BBF;
}
.navigation-item.current{
position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress{
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}

.adress-item{
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item:focus,
.adress-item:hover{
   color: #404BBF;
}
.header-adress{
    font-style: normal;
    margin-left: auto;
}

.open-menu-mob{
padding: 0;
background-color: transparent;
cursor: pointer;
line-height: 0;
border: none;
}

.mob-close-btn{
    width: 24px;
    height: 24px;
    border-radius: 50%;
        padding: 0;
        border: 1px solid #E7E9FC;
        background-color: transparent;
        margin-left: auto;
        display: block;
}


/* ************************************** */
.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.mob-navigation-container{
    padding-top: 24px;
}

.mob-close-icon {}

.mob-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mob-navigation-list {}

.mob-navigation-item {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02empx;
        text-transform: capitalize;
}

.mob-navigation-item.current{
    color: #404BBF;
}

.mob-menu-adress {
    display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
}

.mob-menu-adress-item {
    color:#434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.mob-icon-list {
    display: flex;
    gap: 40px;
}

.mob-icon-item {
    width: 40px;
    height: 40px;
}

.mob-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-icon {
    fill: #fff;
}

/*--------------HERO----------*/

.hero{
    max-width: 1440px;
    background: #2E2F42;
    /* padding: 188px 0; */
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),url(../images/hero-img-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)
 {
    .hero{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-img-mob-2x.jpg);
    }
}

.hero-title {
    color: #FFF;
    max-width: 496px;
        text-align: center;
        /* font-size: 56px; */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto;
        /* margin-bottom: 48px; */
        margin-bottom: 72px;
}

.hero-btn {
        background: #4D5AE5;
        color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 0, 0, 0, 0.15;
            padding: 16px 32px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            min-width: 169px;
            height: 56px;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

/*--------------COMPONENTS----------*/

.components-list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.components-icon{
    /* display: flex; */
    display: none;
    height: 112px;
    border-radius: 4px;
        border: 1px solid #8E8F99;
        background:#F4F4FD;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
}
.components-icon-style{
}
.components-title {
    color: #2E2F42;
        /* font-size: 20px; */
        font-size: 36px;
        /* font-weight: 500; */
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.components-item{
    /* width: calc((100% - 3*24px)/4); */
    width: 100%;
}
.components-text {
    color: #434455;
        font-size: 16px;
        /* font-weight: 400; */
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*--------------TEAM----------*/

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-points{
    background-color: #FFFFFF;
    /* width: calc((100% - 3*24px) / 4);    */
    width: 264px;
    border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team {
    background: #F4F4FD;
}
.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-people {
    color:#2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-text {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em; 
        margin-bottom: 8px;
}
.team-description{
    padding: 32px 0;
}
.team-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-icon-item{
    width: 40px;
    height: 40px;
}
.team-icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus{
    background-color: #404bbf;
}
.team-icon{
    fill: #F4F4FD;
}
/*--------------PORTFOLIO----------*/

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.portfolio {
    background: #FFF;
}

.portfolio-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-photo{
}

.portfolio-item {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-border{
    border: 1px solid #F4F4FD;
    border-top: none;
    padding: 32px 16px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-points {
    background-color: #FFFFFF;
    /* width: calc((100% - 48px) / 3); */
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-points:hover{
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-box{
    position: relative;
    overflow: hidden;
}
.portfolio-text-hover{
    display: none;
    position: absolute;
    top: 0;
    color:#F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4D5AE5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-points:hover .portfolio-text-hover{
    transform: translateY(0);
}
/*--------------FOOTER----------*/

.footer {background:#2E2F42;}

.footer-box{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.footer-container{
    /* margin-right: 120px; */
}
.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        margin-bottom: 72px;
}
.footer-logo{
    color:#4d5ae5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        /* display: inline-block; */
        display: flex;
        justify-content: center;
}
.footer-logo-span{
    color: #f4f4fd;
}
.footer{
    padding: 100px 0;
}
.footer-media-bloc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footter-icon-title{
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;    
}

.footer-icon-list {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #F4F4FD;
}

.footer-subscribe-bloc{
    /* margin-left: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 496px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    gap: 16px;
    justify-content: center;
}


.footer-email-text{
    color:#FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.footer-input{
width: 264px;
height: 40px;
background-color: transparent;
border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #fff;
    outline: transparent;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
}

.footer-btn-sbcr{background: #4D5AE5;
    color: #FFF;
    /* min-width: 165px; */
    max-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0, 0, 0, 0.15;
    height: 40px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    padding: 0 24px;
}

.footer-sbcr-icon{
    margin-left: 16px;
}

.footer-btn-sbcr:focus,
.footer-btn-sbcr:hover {
    background-color: #404BBF;
}

/* ----------MODAL-------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill: #FFF
}

.modal-title{
    color: #2E2F42;
        text-align: center;
        font-size: 16px;    
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.modal-block-enter{
    margin-bottom: 8px;
}

.modal-label{
    color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em; 
        margin-bottom: 4px;
        display: block;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
        border: 1px solid  rgba(46, 47, 66, 0.40);
background-color: transparent;
padding-left: 38px;
position: relative; 
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-input-icon{
    fill: #4D5AE5;
}
.modal-input-wrap{
    position: relative;
}

.modal-input-icon{
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-coment{
    margin-bottom: 16px;
}

.modal-text{
    width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        height: 120px;
        background-color: transparent;
        padding-left: 16px;
        padding-top: 8px;
        outline: transparent;
        resize: none;
        color: rgba(46, 47, 66, 0.40);
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            padding: 8px 16px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus{
    border-color: #4D5AE5;
}
.modal-link-policy{
    color: #4D5AE5;
    text-decoration-line: underline;
}
.policy-icon-wrap{
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-policy{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.policy-icon{
}
.policy-input:checked + .modal-label-policy span{
    background-color: #404BBF;
    border: none;
    fill:#F4F4FD;
}

.policy-box{
    margin-bottom: 24px;
}
.form-btn{
    background: #4D5AE5;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0, 0, 0, 0.15;
        padding: 16px 32px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
        height: 56px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        .form-btn:focus,
        .form-btn:hover{
                background-color:#404BBF;
        }

        /* ---------MEDIA------- */

       @media screen and (min-width: 768px) {
        .container {
                max-width: 736px;
            }
 .components-list{
  gap: 72px 24px;
                }
 .components-item {
            width: calc((100% - 24px)/2);
       } 

           .team-list {
               gap: 64px 24px;
               justify-content: center;
    }
        .portfolio-list {
            gap: 72px 24px;
        }
        .portfolio-points {
            width: calc((100% - 24px) / 2);
        }
        .footer-logo {
            display: inline-block;
        }
   .footer-media-bloc {
       display: inline-block;
       margin-left: 24px;
      }
        .footer-subscribe-bloc{
            display: inline-block;
        }
.footer-form {
    flex-direction: row;
    gap: 24px;
}
.hero {
    padding: 112px 0;
background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-img-tab.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero-img-tab-2x.jpg);
    }
}
           .hero-title {
            font-size: 56px;
            margin-bottom: 36px;
           }
                   .navigation {
                       display: flex;
                       gap: 40px;
                   }
        .logo {
            margin-right: 120px;
        }
                .open-menu-mob{
                    display: none;
                }
            .adress {
          display: flex;
          flex-direction: column;
          gap: 12px;
            }
                        .adress-item {
                            font-size: 12px;
                            line-height: 1.16;
                        }
        }

    @media screen and (min-width: 1158px) {
    .container {
            max-width: 1128px;  
        }
                .section {
                    padding-top: 120px;
         padding-bottom: 120px;
                }
  .components-list {
        gap: 24px;
                }
   .components-icon {
       display: flex;}
           .components-title {
        font-size: 20px; 
             font-weight: 500;
    }
        .components-item {
            width: calc((100% - 3*24px)/4);
}
.components-text {
    font-weight: 400;
    }

        .team-points {
            width: calc((100% - 3*24px) / 4);  
        }
.portfolio-list {
    gap: 48px 24px;
}
.portfolio-points {
    width: calc((100% - 48px) / 3);
}
.portfolio-text-hover {
    display: flex;
}
.footer-box {
    flex-wrap: nowrap;
}
.footer-container {
    margin-right: 120px;
}
.footer-media-bloc {
    margin-left: 0;
    }
        .footer-subscribe-bloc {
            margin-left: 80px;
        }
                .hero {
                    padding: 188px 0;
                    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
                }
                                @media screen and (min-device-pixel-ratio: 2),
                                (min-resolution: 2dppx),
                                (min-resolution: 192dpi) {
                                    .hero {
                                        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                                                rgba(46, 47, 66, 0.7)), url(../images/hero-img-2x.jpg);
                                    }
                                }
                .hero-title {
                    margin-bottom: 48px;
                }
      .logo{
        margin-right: 76px;
      }
            .adress{
                flex-direction: row;
                gap: 40px;
            }
        .navigation-item {
            font-size: 16px;
            line-height: 1.5;
        }
    }